.flex-col {
    display: flex;
    flex-direction: column;
}
.flex-row {
    display: flex;
}
.aboutme-cont {
    align-items: center;
    width: 100vw;
    justify-content: space-evenly;
}
.banner {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: no-repeat url('/assets/main-back-image-min.jpg') center;
    background-size: cover;
    filter: blur(5px);
    transform: scale(1.1);
    z-index: 1;
}
.abt-wr {
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    position: relative;
    width: 100%;
    overflow: hidden;
    background-color: #568EA6;
}
.prof-img-wr {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-image: url('/assets/profilepic.jpg');
    border: solid 3px;
}
.name-blk {    
    text-align: center;
    font-size: 6vh;
    font-weight: bold;
    color: white; 
    z-index: 1000;
}
.name {
    display: inline-block;
    color: #F1828D;
    font-size: 10vh;
}
.position {
    margin-top: 3%;
}
.abt-me-desc {
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 200px;
}
.abt-me-desc-inner {
    width: 80%;
    text-align: center;
}
.cont-img {
    width: 20px;
    height: 20px;
}
.home-img {
    background-image: url('/assets/home.svg');
}
.phone-img {
    background-image: url('/assets/phone.svg');
}
.email-img {
    background-image: url('/assets/email.svg');
}
.cont-ele {
    justify-content: center;
    align-items: center;
    flex: 1;
}
.contac-wrapper {
    justify-content: space-evenly;
    height: fit-content;
    width: 100%;
}
.contac-body {
    justify-content: space-evenly;
}
.cont-header {
    text-align: center;
    line-height: 0.5;
    width: 100%;
    padding-bottom: 5px;
}
.cont-header > span {
    position: relative;
    display: inline-block;
}
.cont-header > span::before,
.cont-header > span::after {
    content: "";
    position: absolute;
    border: 1px solid black;
    top: 50%;
    width: 50%;
}
.cont-header > span::before {
    right: 100%;
    margin-right: 15px;
}
.cont-header > span::after {
    left: 100%;
    margin-left: 15px;
}
.edu-exp-cont {
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}
.edu-ele {
    padding: 5px 0;
}
.edu-exp-incont {
    flex: 1;
    justify-content: center;
    align-items: center;
}
.item-cont {
    justify-content: center;
    align-items: center;
    flex: 1;
}
.item-desc {
    padding: 5px;
    flex: 4;
}
.header {
    text-transform: uppercase;
}
.slider-cont {
    width: 100%;
}
@media screen and (max-width: 600px) {
    .name-blk {
        text-shadow: 2px 1px black;
    }
    .contac-body {
        flex-direction: column;
        height: 100px;
    }
    .cont-ele {
        flex-direction: row;
    }
    .edu-exp-cont {
        flex-direction: column;
    }
    .abt-me-desc {
        height: 100px;
    }
}
@media screen and (max-width: 400px) {
    .prof-img-wr {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        border: solid 1px;
    }
    .abt-wr {
        height: 250px;
    }
}