.flex-col {
    display: flex;
    flex-direction: column;
}
.flex-row {
    display: flex;
}

.aboutme-cont {
    position: relative;
}
.banner {
    width: 100%;
    height: 55%;
    position: absolute;
    background: linear-gradient(#fbc2eb,#a6c1ee);
    z-index: -1;
    top: 0;
}
.abt-wr {
    justify-content: space-evenly;
    align-items: center;
    height: 350px;
}
.prof-img-wr {
    width: 150px;
    height: 150px;
    border-radius: 75px;
    background-image: url('/assets/profilepic.jpg');
    border: solid 3px;
}
.name-cls {
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
}
.abt-me-desc {
    width: 400px;
    text-align: center;
}
.cont-img {
    width: 20px;
    height: 20px;
}
.home-img {
    background-image: url('/assets/home.svg');
}
.phone-img {
    background-image: url('/assets/phone.svg');
}
.email-img {
    background-image: url('/assets/email.svg');
}
.cont-ele {
    justify-content: center;
    align-items: center;
}
.contac-wrapper {
    justify-content: space-evenly;
}
.contac-body {
    justify-content: space-evenly;
}
.cont-header {
    text-align: center;
    line-height: 0.5;
    width: 100%;
}
.cont-header > span {
    position: relative;
    display: inline-block;
}
.cont-header > span::before,
.cont-header > span::after {
    content: "";
    position: absolute;
    border: 1px solid black;
    top: 50%;
    width: 50%;
}
.cont-header > span::before {
    right: 100%;
    margin-right: 15px;
}
.cont-header > span::after {
    left: 100%;
    margin-left: 15px;
}