<div class="aboutme-cont flex-col">
    <div class="abt-wr flex-col">
        <div class="banner"></div>
        <div class="name-blk">
            <p class="name-cls">Stif Spear Subba</p>
            <p class="abt-me-desc">Software Developer</p>
        </div>
        <div class="prof-img-wr img-div"></div>
        <p class="abt-me-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
            aliqua. Ut enim ad minim veniam, quis nostrud exercitatio</p>
    </div>
    <div class="contac-wrapper flex-col">
        <p class="cont-header">
            <span>Contact Details</span>
        </p>
        <div class="contac-body flex-row">
            <div class="cont-ele flex-col">
                <div class="img-div home-img cont-img"></div>
                <p class="cont-det">Lorem ipsum</p>
            </div>
            <div class="cont-ele flex-col">
                <div class="img-div phone-img cont-img"></div>
                <p class="cont-det">Lorem ipsum</p>
            </div>
            <div class="cont-ele flex-col">
                <div class="img-div email-img cont-img"></div>
                <p class="cont-det">Lorem ipsum</p>
            </div>
        </div>
    </div>
</div>