<div class="aboutme-cont flex-col">
    <header class="header">
        <div class="flex-row header-cont">
            <div class="left-cont">
                <div class="left-name">stifspear</div>
            </div>
            <div class="flex-row right-cont">
                <a class="resume" href="https://www.instagram.com/stifspearsubba/">View Resume</a>
                <!-- <div class="resume"> View Resume</div> -->
            </div>
        </div>
    </header>
    <div class="abt-wr flex-col">
        <div class="name-blk">
            <p class="prominent-name">Hello, I'm <span class="name">{{dataModel.fullName}}</span></p>
            <p class="under-prominent-name">{{dataModel.title}}</p>
        </div>
    </div>
    <div class="fullpage flex-row">
        <div class="my-img-container flex-row">
            <div class="img-div my-pic"></div>
        </div>
        <section class="abt-me-desc-section">
            <p class="abt-me-desc-inner">{{dataModel.aboutMe}}</p>
        </section>
    </div>
    <div class="exp-cont">
        <div class="exp-pro" *ngFor="let project of projects">
            <header class="project-header">{{project.projectName}}</header>
        </div>
    </div>
    <div class="contact-me-container">
        <div class="contact-inner-cont flex-col">
            <h4>Contact Me</h4>
            <div class="flex-row contact-list ">
                <div class="flex-col icon_cont">
                    <a href="mailto:stif_spear123@yahoo.com" class="email_addr">
                        <svg width="30px" height="30px">
                            <image xlink:href="/assets/email.svg" width="30px" height="30px"/>
                        </svg>
                    </a>
                    <p class="fw-300 text_below_text">Email</p>
                </div>
                <div class="flex-col icon_cont">
                    <a href="https://www.instagram.com/stifspearsubba/" class="email_addr" target="_blank">
                        <svg width="30px" height="30px">
                            <image xlink:href="/assets/instagram.svg" width="30px" height="30px"/>
                        </svg>
                    </a>
                    <p class="fw-300 text_below_text">Instagram</p>
                </div>
                <div class="flex-col icon_cont">
                    <a href="https://www.linkedin.com/in/stifspearsubba" class="email_addr" target="_blank">
                        <svg width="30px" height="30px">
                            <image xlink:href="/assets/linkedin.svg" width="30px" height="30px"/>
                        </svg>
                    </a>
                    <p class="fw-300 text_below_text">LinkedIn</p>
                </div>
            </div>
        </div>
    </div>
</div>