/* You can add global styles to this file, and also import other style files */
.img-div {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
@font-face {
    font-family: "Simplifica";
    src: url(/assets/Fonts/Simplifica.ttf);
}
p {
    margin: 0;
}
html, body {
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: 'Simplifica';
    color: #F18C8E;
}